<div>
  <a href="/">
    <h1>Portfolio</h1>
  </a>
</div>

<style>
  div {
    position: absolute;
    margin: 1rem;
    width: 10rem;
    height: 6rem;
    background: linear-gradient(150deg, #203385, #392853 100%);
  }
  h1 {
    margin: 0;
    height: 6rem;
    text-align: center;
    align-content: center;
    color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  a {
    text-decoration-line: none;
  }
</style>
