services:
  app:
    build: .
    command: sh -c "pnpm i && pnpm dev --host"
    tty: true
    stdin_open: true
    volumes:
      - .:/app
      - /app/node_modules
    working_dir: /app
    ports:
      - "4321:4321"