---
import SkillBox from "./SkillBox.astro";
---

<div class="container">
  <h1 class="title">Skills</h1>
  <div class="description">
    <section>
      <SkillBox text="HTML" imageURL="src/images/HTML.svg" />
      <SkillBox text="CSS" imageURL="src/images/CSS.svg" />
      <SkillBox text="JavaScript" imageURL="src/images/js.svg" />
      <SkillBox text="TypeScript" imageURL="src/images/ts.svg" />
    </section>
    <section>
      <SkillBox text="React" imageURL="src/images/react.svg" />
      <SkillBox text="Next.js" imageURL="src/images/nextjs.svg" />
      <SkillBox text="Astro" imageURL="src/images/astro.svg" />
      <SkillBox text="Node.js" imageURL="src/images/nodejs.svg" />
    </section>
    <section>
      <SkillBox text="Python" imageURL="src/images/python.svg" />
      <SkillBox text="Go" imageURL="src/images/go.svg" />
      <SkillBox text="C" imageURL="src/images/clang.svg" />
      <SkillBox text="Java" imageURL="src/images/java.svg" />
    </section>
    <section>
      <SkillBox text="Dart" imageURL="src/images/dart.svg" />
      <SkillBox text="Flutter" imageURL="src/images/flutter.svg" />
      <SkillBox text="Git" imageURL="src/images/Git.svg" />
      <SkillBox text="Github" imageURL="src/images/github.svg" />
    </section>
  </div>
</div>

<style>
  section {
    display: flex;
    font-size: 1.5rem;
    color: #e3e3e3;
    margin-bottom: 1.5rem;
  }
  img {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
  }
</style>
