---
import Home from "../components/Home.astro";
---

<!doctype html>
<html lang="jp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>portfolio</title>
  </head>
  <body>
    <Home />
  </body>
</html>

<style>
  body {
    background-color: #1b1c1d;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>

<!-- フォントの定義 -->
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Winky+Sans:ital,wght@0,300;1,300&display=swap");

  .eng {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

  .jp {
    
  }
</style>
