<div class="container">
  <h1 class="title">Links</h1>
  <div class="description">
    <a href="https://github.com/sgmotry" target="_blank">
      <img width="40" height="40" src="src/images/github.svg" />
      Github
    </a>
  </div>
</div>

<style>
  a {
    display: flex;
    font-size: 1.5rem;
    color: #e3e3e3;
    text-decoration: none;
  }
  img {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
  }
</style>
