---
import ProductBox from "./ProductBox.astro";
---

<div class="container">
  <h1 class="title">Products</h1>
  <ProductBox
    title="タイトル"
    description="説明文説明文説明文説明文説明文説明文説明文"
    role="バックエンド"
    stack="[aaa,aaa]"
    link="https://github.com/watagassa/tebukuro-kitchen"
  />
  <ProductBox
    title="タイトル"
    description="説明文説明文説明文説明文説明文説明文説明文"
    role="バックエンド"
    stack="[aaa,aaa]"
    link="https://github.com/watagassa/tebukuro-kitchen"
  />
  <ProductBox
    title="タイトル"
    description="説明文説明文説明文説明文説明文説明文説明文"
    role="バックエンド"
    stack="[aaa,aaa]"
    link="https://github.com/watagassa/tebukuro-kitchen"
  />
</div>
