<div class="container">
  <h1 class="title">Products</h1>
</div>

<style>
  .container {
    position: relative;
    width: inherit;
    height: inherit;
    word-break: break-word;
    font-size: 1.5rem;
  }
  .title {
    font-size: 3rem;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .description {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
</style>