---
import ProductBox from "./ProductBox.astro";
---

<div class="container">
  <h1 class="title">Products</h1>
  <ProductBox
    title="タイトル"
    description="説明文説明文説明文説明文説明文説明文説明文"
    role="バックエンド"
    stack="[aaa,aaa]"
    link="https://github.com/watagassa/tebukuro-kitchen"
  />
  <ProductBox
    title="タイトル"
    description="説明文説明文説明文説明文説明文説明文説明文"
    role="バックエンド"
    stack="[aaa,aaa]"
    link="https://github.com/watagassa/tebukuro-kitchen"
  />
  <ProductBox
    title="タイトル"
    description="説明文説明文説明文説明文説明文説明文説明文"
    role="バックエンド"
    stack="[aaa,aaa]"
    link="https://github.com/watagassa/tebukuro-kitchen"
  />
</div>

<style>
  .container {
    position: relative;
    width: inherit;
    height: inherit;
    word-break: break-word;
    font-size: 1.5rem;
  }
  .title {
    font-size: 3rem;
    margin-left: 0;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .description {
    margin-left: 2rem;
    font-size: 1.5rem;
  }
</style>
