---
import AboutMe from "../components/AboutMe.astro";
import Links from "../components/Links.astro";
import Products from "../components/Products.astro";
import Skills from "../components/Skills.astro";
---

<!-- グリッド管理用 -->
<main id="parent">
  <div class="block aboutMe">
    <AboutMe />
  </div>
  <div class="block links">
    <Links />
  </div>
  <div class="block products">
    <Products />
  </div>
  <div class="block skills">
    <Skills />
  </div>
</main>

<style>
  #parent {
    margin-right: 15%;
    margin-left: 15%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(5, 1fr); */
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }
  .block {
    color: #e3e3e3;
    background-color: #4c4e5180;
    padding: 1.5rem;
  }
  .aboutMe {
    grid-area: 1 / 1 / 1 / 4;
  }
  .links {
    grid-area: 1 / 4 / 1 / 6;
  }
  .products {
    grid-area: 2 / 1 / 2 / 4;
  }
  .skills {
    grid-area: 2 / 4 / 2 / 6;
  }
</style>
